* {
        box-sizing: border-box;
        background-color: #F5F5F5;
}

body {
        margin: 0;
        overflow-y: scroll;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
        width: 13px;
        background-color: var(--gray);
}

::-webkit-scrollbar-thumb {
        background: var(--white);
}

/* //////////////////////////////////// */

:root { 
       /* Navbar color */ 
       --gray: #1e1f22;
       --white: #ffffff;
       --grayish: #F8F8F8
       /* LOGO COLORS*/
       --neon-green: #00ff4d;
       --green: #66ff94;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Navbar */
.Navbar {
        background-color: var(--white);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(98, 98, 98, 0.5);
        /* - - - - - - - - - - - - - - - - - - */
        position: relative;
        padding: 5px;
        display: flex;
        justify-content: space-between;
}

.Navbar--logo {
        margin-left: 30px;
        transition: width 0.3s ease;
}

.Navbar--logo:hover {
        cursor: pointer;
        width: 8.2%;
}

.Navbar--texts {
        background-color: var(--white);
        font-size: 18px;
        color: var(--gray);
        /* - - - - - - - - - - - - - - - - - - */
        display: flex;
        align-items: center;
        margin-right: 35px;

        .Navbar--text {
                background-color: var(--white);
                /* - - - - - - - - - - - - - - - - - - */
                right: 0; 
                margin-left: 30px;
                cursor: pointer;
                position: relative;
        }

        .Navbar--text::after {
                content: '';
                position: absolute;
                left: 0; 
                bottom: -2px; 
                width: 100%; 
                height: 2px; 
                background-color: transparent;
                transition: background-color 0.3s ease; 
        }

        .Navbar--text:hover::after {
                background-color: var(--gray);
        }

        .Navbar--gap {
                margin-right: 35px;
        }

        .Navbar--login {
                background-color: var(--gray); 
                color: white; 
                /* - - - - - - - - - - - - - - - - - - */
                padding: 8px 20px; 
                border-radius: 10px; 
                transition: background-color 0.3s ease;
                text-decoration: none;
                text-shadow: 1px 1px 3px black;
        }

        .Navbar--login:hover {
                background-color: #666; 
        }

        .Navbar--login::after {
                content: none; /* Disable underline effect for login button */
        }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Mainpage */
.Mainpage {
        display: flex;
        justify-content: center;
        padding: 50px;
}

.Mainpage--introduction {
        margin-top: 3%;
        margin-left: 3%;

        .Mainpage--title {
                color: var(--gray);
                font-weight: bold;
                font-size: 60px;
                /* - - - - - - - - - - - - - - - - - - */
                width: 85%;
                margin-bottom: 50px;
        }
              
        .Mainpage--description {
                color: #333;
                font-size: 30px;
                /* - - - - - - - - - - - - - - - - - - */
                width: 95%;
        }

        .Mainpage--artwork_1 {
                margin-right: -1000px;
        }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Footer */
.Footer {
        background-color: var(--white);
        border-top: 1px solid rgba(98, 98, 98, 0.5);
        /* - - - - - - - - - - - - - - - - - - */
        padding: 5px;

        .Footer--text {
                background-color: var(--white);
                text-align: center;
                color: var(--gray);
        }

        .Footer--link {
                background-color: var(--white);
                text-align: center;
                text-decoration: none;
                color: var(--gray);
                font-weight: bold;
        }
}